.list {
    overflow-x: scroll;
    max-width: max-content;
    max-width: 100%;
}

.list::-webkit-scrollbar {
    display: none;
}

.list > :first-child {
    margin-left: 1rem;
}

.list > :last-child {
    margin-right: 1rem;
}