@import '@radix-ui/colors/gray.css';

.background {
  background-color: var(--gray-2) !important;
  background: var(--gray-2) !important;
}

body > #root > div {
  height: 100vh;
  margin: 0%;
}

body {
  padding: 0%;
  margin: 0%;
}

.small_heading {
  font-size: 0.95rem !important;
  font-weight: bold;
}

.secondary_text {
  font-size: 0.8rem;
  color: var(--gray-surface);
  font-weight: bold;
}
