@import "@radix-ui/colors/gray.css";

.background {
  background-color: var(--gray-2) !important;
  background: var(--gray-2) !important;
}

body > #root > div {
  height: 100vh;
  margin: 0%;
}

body {
  padding: 0%;
  margin: 0%;
}

h1 {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 25px;
  margin: 0;
  margin-top: 0.2rem;
}

h2 {
  font-weight: 800;
  font-size: 1rem;
  line-height: 18px;
  margin: 0;
}

h3 {
  font-size: 0.8rem;
  font-size: 0.7rem;
  color: var(--gray-9);
  font-weight: 500;
  margin: 0;
}

p {
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}
